<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>🤖 AI Python Quiz</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">
    <h1>🤖 Yapay Zeka Destekli Quiz</h1>

    <div class="card">
        <h2 id="soru">Yükleniyor...</h2>

        <div id="siklar"></div>

        <p id="sonuc"></p>

        <button onclick="yeniSoru()">🔄 Yeni Soru Üret</button>
    </div>
</div>

<!-- JS -->
<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>
